@page
@model IndexModel
@{
    ViewData["Title"] = "Skrauzodoro Tracker";
}

<asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true"></asp:ScriptManager>
<div class="row p-3">
    <div class="col-lg-7 text-center">
        <h2>Tracker</h2>
        <div class="row p-1">
            <div class="col-6">
                <input class="w-100 form-control" id="trackerTaskNameInput" type="text" placeholder="Task Name">
            </div>
            <div class="col-6">
                <button class="w-100 btn btn-dark" id="trackerStartButton">
                    <i class="fa-regular fa-clock"></i> Start Tracking</button>
            </div>
            @* Another button, import from Todoist *@
        </div>
        <hr>
        @* Tracker clock section *@
        <div class="p-1">
            <div class="row">
                <div class="col-4">
                    <p>
                        Started at:
                    </p>
                    <p class="fs-4">~</p>
                </div>
                <div class="col-4">
                    <p class="fs-1 fw-bold">@Model.Time</p>
                </div>
                <div class="col-4">
                    <p>
                        Finished at:
                    </p>
                    <p class="fs-4">~</p>
                </div>
            </div>
            <p>Currently working on:</p>
            <p class="fs-2" id="taskName">~</p>
        </div>
        <hr>
    </div>
    <div class="col-lg-5 text-center">
        <h2>Log</h2>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>